%object#live_embed_player_flash{type: "application/x-shockwave-flash", height: '400', width: '600', data:"http://www.twitch.tv/widgets/live_embed_player.swf?channel=#{channel}", bgcolor: '#000'}
  %param{name: 'allowFullScreen',   value: 'true'  }
  %param{name: 'allowScriptAccess', value: 'true'  }
  %param{name: 'allowNetworking',   value: 'all'   }
  %param{name: 'movie', value: 'http://www.twitch.tv/widgets/live_embed_player.swf' }
  %param{name: 'flashvars', value: "hostname=www.twitch.tv&channel=#{channel}&auto_play=true&start_volume=25"}