.col-sm-3
  .game-filter
    %h3 Popular Games
    .row
      = search_field "game-search", "", placeholder: 'Search', class: 'form-control game-search'
    %ul
      - @games.each do |game|
        %li= link_to game, "#", class: 'sidebar-game-item'
  .row
    - if @search_title != "Popular Channels"
      .col-xs-12.text-right
        = link_to "Clear Search", unset_search_channels_path, method: :post

.col-sm-8#channel-list
  = render 'channels/partials/channel_field', streams: @streams, search_title: @search_title