.col-sm-3.game-filter
  %h3 Popular Games
  %ul
    - @games.each do |game|
      %li= link_to game, "#", class: 'sidebar-game-item'

.col-sm-8#channel-list
  = render 'channels/partials/channel_field', streams: @streams