- if @wager
  .row-ctr
    #bet-field
      = render 'channels/partials/bet_field', wager: @wager
      
.row-ctr
  #player
    = render @player, channel: params[:id]

.row-ctr
  #channel-info
    %h3= @channel_data[:status]
    %i.fa.fa-gamepad
    .game-name= @channel_data[:game]