.wager{class: "wager-#{wager.game.name}" }
  .row
    %h2.title= wager.question
    .input-group.col-xs-6.col-xs-offset-3
      %span.input-group-addon $
      %input.form-control#amount{type: 'number', placeholder: 'Amount to bet'}
        

    .options.col-xs-5.col-xs-offset-4
      - wager.wager_options.each do |option|
        .btn.btn-default= link_to option.text, '#', class: 'option', name: option.id, remote: true