.col-xs-6
  %h2 Earn money watching livestreams
  %p Yep, that's the strapline
.col-xs-4.authentication
  - unless user_signed_in?
    .row
      - view = params[:code] ? 'ajax_sign_up' : 'new_user'
      = render "devise/registrations/#{view}"
    .registration.row
      %h3.welcome Sign in
      = render 'devise/sessions/sign_in_form', resource: User.new, resource_name: 'user'