.help-block
  First, choose your wager type from the dropdown below. We'll show you a description of how each wager is played.

.game-selector-row
  .col-xs-3#game-infographic

  = simple_form_for "", url: setup_channel_wagers_path do |f|
    .col-xs-5#game-selector
      = f.input :game_id, as: :select, collection: @games, label_method: :name, value_method: :id, include_blank: false, label: false, class: 'form-control'
    .col-xs-3
      = f.submit "Choose ➿", class: "btn btn-looted"

.well#game-description

:javascript
  var game_info = function() {

    var game_id = $('select#_game_id').val()
    $.ajax({
      url: '/games/'+game_id+'/info.json',
    }).success(function(data) {
      $("#game-description").text(data.description);
    });
  };

  $('select#_game_id').on('change', function() {
    game_info();
  });

  game_info();
