.help-block
  First, choose your wager type from the dropdown below. We'll show you a description of how each wager is played.

.game-selector-row
  .col-xs-3#game-infographic
  .col-xs-5#game-selector
    = select_tag "wager_game_id", options_from_collection_for_select(@games, :id, :name), class: 'form-control'
  .col-xs-3
    = link_to "Choose ➿", "#", class: "btn btn-looted", id: "submit-type"


.well#game-description

#game-form

:javascript
  var game_info = function() {
    var game_id = $('select#wager_game_id').val()
    $.ajax({
      url: '/games/'+game_id+'/info.json',
    }).success(function(data) {
      $("#game-description").text(data.description);
    });
  };

  $("select#wager_game_id").on('change', function() {
    game_info();
  });

  game_info();
