@import "bootstrap";

$standard-color: #6F256F;
$standard-color-dark: #7c327c;
$accent-color: lighten($standard-color, 17.5%);
$bottom-border: 3px solid $accent-color;

@mixin box {
  padding: 10px;
  background-color: #fff;
  border-bottom: $bottom-border;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}



.box {
  @include box;
  margin-bottom: 15px;
}

.btn-looted {
  color: #FFF;
  background: lighten($standard-color, 10%);
  border-color: $standard-color-dark;
  transition: background ease-in-out 0.25s, border ease-in-out 0.25s;

  &:active, &:hover, &:visited, &:focus {
    color: #FFF;
  }

  &:hover {
    background: $standard-color;
  }
}