@import "bootstrap";

$standard-color: #6F256F;
$accent-color: lighten($standard-color, 17.5%);
$bottom-border: 3px solid $accent-color;

@mixin box {
  padding: 10px;
  background-color: #fff;
  border-bottom: $bottom-border;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

.box {
  @include box;
  margin-bottom: 15px;
}
