/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require jquery-ui/core
 *= require animate
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "common";
 @import url("http://fonts.googleapis.com/css?family=Noto+Sans");

 /* Theme Colours */
 $ls-base: #6F256F;

 html, body {
  min-height: 100%;
  background-color: #F4F4F4;
 }

 body {
  font-family: 'Noto Sans', sans-serif !important;

  a:not(.btn-looted) {
    &, &:visited, &:active, &:focus { color: lighten($standard-color, 10%); }
    &:hover { color: $standard-color; }
  }

  .alert:empty {display: none;}

   /* LootStream Navbar */
   .navbar-controls {
    @extend .navbar-default;
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;

    .navbar-logo {
      @extend .navbar-brand;
      color: $ls-base;
      &:hover { color: $ls-base; }
    }

    .navbar-header-wrap {
      @extend .col-md-8;
      @extend .col-md-offset-2;
    }

    .logout:hover {
      color: #FFF;
      background-color: rgba(255, 0, 0, 0.66) !important;
    }

    a {
      color: #686868;
      &:hover {
        background-color: transparent !important;
        color: #464646;
      }
    }
   }

   .text-right {
    text-align: right;
   }
 }

