// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$bottom-border: 3px solid lighten(#6F256F, 17.5%);

@mixin box {
  padding: 10px;
  border-radius: 4.5px;
  background-color: #fff;
  border-bottom: $bottom-border;
}

.row-ctr {
  @extend .row;
  padding: 15px 0;

  #bet-field {
    @include box;

    .btn-success a {
      color: #FFF;
    }
  }
}

.stream {
  @include box;
  padding: 25px;

  &:hover {
    background: #efefef;
  }
}

.left {
  @extend .col-xs-3, .col-xs-offset-2;
}

.right {
  @extend .col-xs-3, .col-xs-offset-2;
}

/* -- Show */
#bet-field, #channel-info, #player {
  @extend .col-xs-8, .col-xs-offset-2;
  @extend .col-md-6, .col-md-offset-3;
}

#player {
  padding: 0;
}

#channel-info {
  @include box;

  .game-name {
    display: inline-block;
  }
}

object {
  width:100%;
}