// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

$home-bg-start: #FFF;
$home-bg-end: #e7e7e7;

.hero {
  background-image: linear-gradient($home-bg-start, $home-bg-end);
  min-height: 450px;
}

.hero-wrap {
  @extend .col-md-8, .col-md-offset-2;
  margin-top: 15px;
}

#viewer-features {
  background-color: #efefef;
}

#streamer-features {
  background-color: #efefef;
}

#channels-active {
  background-color: #dfdfdf;
}

.post-hero-container {
  @extend .container-fluid;

  .post-hero-inner {
    @extend .col-md-8, .col-md-offset-2;
    padding: 15px;
    color: #393b4b;
    text-align: center;

    .post-hero-row {
      @extend .row;
      margin-top: 15px;
    }

    .triplet {
      @extend .col-xs-4;
      padding: 0 40px;
      opacity: 0;

      .fa {
        color: $standard-color;
      }
    }

    .visible {
      opacity: 1;
    }
  }
}

.authentication {
  .row {
    margin-bottom: 10px;
  }
}